name: Node.js CI

on:
  push:
    branches: [main, integrationtests]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: |
        cd Interface/API
        npm install

    - name: Run Unit tests
      run: |
        cd Interface/API
        npm test

    - name: Start application
      run: |
        cd Interface/API
        npm start &
      env:
        NODE_ENV: test
        PORT: 8080
        DATABASE_URL: ${{ secrets.DATABASE_URL }}

    - name: Wait for application to be available
      run: |
        # Wait for up to 60 seconds for the web aplication to be available
        timeout 60s bash -c 'until curl -sSf http://localhost:8080; do sleep 5; done'

    - name: Run Graphic tests (Cypress)
      run: |
        cd Interface/API
        npx cypress run
    environment: Test
